*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# IntelliJ Files # 
*.idea
/target
/out
/.settings
/results
/input

# Search Examples #
input/fifteenpuzzle/mine1000/*.in

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
